extends layout

block content
  p 扫码签到
  div
    img(src= obj.img )

  div
    a(href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx56b5ebcd0c7759e2&redirect_uri=https%3A//wx.hcmcloud.cn/authorizer_pc_confirm%3Fclient_id%3D'+obj.client_id+'&response_type=code&scope=snsapi_userinfo&state=&component_appid=wxf3a3f0251225c35b&connect_redirect=1#wechat_redirect') 点击签到

  script.
    //alert(history.length)